# SPDX-License-Identifier: MIT OR Apache-2.0
# SPDX-FileCopyrightText: 2026 Sasank Vishnubhatla
# Scoped here, not at the root: hatchling force-includes a root .gitignore
# in every sdist, which the explicit sdist allowlist forbids.
__pycache__/
*.pyc
